<!-- header -->
<div class="row">
  <div class="col-sm-6 col-xs-12">
    <h1 class="h3 m-0">Stock Adjustment</h1>
    <small class="text-muted breadcrumb"><a href="#">Warehouse</a> » <a href="#"> Stock Transfer</a> »<a href="#"> Stock Adjustment</a> » view Adjust Stock</small>
  </div>
  
</div>
<div class="card" style="min-height:75%;margin-top:1%;float:right;margin-right:40px;width:96%;position: absolute;overflow: hidden;">
 
    <h4 class="card-title" style="color: green;padding:1%">View Stock Adjustment </h4>

  <form #formvalue="ngForm" (ngSubmit)="stockadjust(formvalue,stat)">
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="Code" class="labelS">Code</label>&nbsp;:&nbsp; {{code}}
            
          </div>
      <div class="form-group  col-md-4" >
            <label for="PoDate" class="labelSS">Stock Date</label>&nbsp;:&nbsp;{{editdate | date:'dd MMM, yyyy'}} 
           
      </div>
    </div>
    <div class=form-row>
      <div class="form-group col-md-8">
        <label for="Warehouse" class="labelS">Warehouse</label>&nbsp;:&nbsp; {{warehousename}}        
      </div>
      <div  class="form-group col-md-4" >
        <label for="remarksreleased" class="labelSS">Remarks</label>&nbsp;:&nbsp; {{remarks}}
      </div>
     </div> 
     <div class="form-row">
        <div  class="form-group col-md-8">
          <label for="totalquantity" class="labelS">Total Quantity</label>&nbsp;:&nbsp;{{totalquantity}}
        </div>
      <div class="form-group col-md-4">
          <label for="Status"  class="labelSS">Status</label>&nbsp;:&nbsp; {{status}}
      </div>
    </div> 
    <div  class="form-row">
     
      <div   class="form-group col-md-8">
          <label for="boxes" class="labelS">No .of boxes</label>&nbsp;:&nbsp; {{boxes}}
      </div>
      <div  *ngIf="status == 'Released'" class="form-group col-md-4" >
          <label for="releaseby" class="labelSS">Release By</label>&nbsp;:&nbsp;{{releaseby}}
       
      </div>
     </div> 
    <div class="form-row">
        <div class="form-group col-md-8"  *ngIf="status == 'Released'">
            <label for="releaseon" class="labelS">Released On</label>&nbsp;:&nbsp;{{releaseon | date:'dd MMM, yyyy'}}
        </div>
    </div> 
  </form>
  <div  class="container selecteditem" style="margin-top:216px;">
      <h4>Items</h4>
      <div style="position: relative;;height: 200px; overflow-y:auto">

      <table class="table-bordered table" style="width:83%;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Hsn</th>
            <th>MRP</th>
            <th>TransFrom</th>
            <th>TransTo</th>
            <th>Stock</th>
           
            <th>Qty</th>
            <th>ExpiryDate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of addeditem">
            <td #finalname  id="{{items.itemId}}">{{items.itemName}}</td>
            <td #finalhsn>{{items.hsnCode}}</td>
            <td  #finalprice>{{items.mrp}}</td>
            <td #finaltransfrom>{{items.fromReason}}</td>
            <td #finaltransto>{{items.reason}}</td>
            <td #finalstock>{{items.availableQuantity|number}}</td>
            <td #finalqty>{{items.quantity}}</td>
            <td #finalexpiredate>{{items.expiryDate | date:'dd MMM, yyyy'}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="text-center" style="margin-left: -21%;">
      <button class="btn btn-raised  btn-dark"(click)="back()">Back</button>
  </div> 
    </div> 
 
  </div>
  <div class="row"  style="position: relative;
  top: 592px;
 ">
    
      <ul class="footer">
        <li class="pull-left">Copyright &copy; 2018 Limitless Mobility Solutitons Pvt Ltd. All rights reserved.</li>
        <li class="pull-right">Powered by
          <a href="http://zoneonedigital.com/" target="_blank">Zone One Digital</a>
        </li>
      </ul>
    
    
  </div>

 <!-- modallll for NAME -->
 <div *ngIf="showModal" id="myModal" class="modal fade "  style=" position: fixed;top:-4;right: 0; bottom: 0;left: -8%;width: 1366px;"role="dialog">
    <div class="modal-dialog modal-lg" style=" border-radius: 10px;width:83%;">
  
      <!-- Modal content-->
      <div class="modal-content" style="width: 1257px">
        <div class="modal-header"   style="background-color: #f3903f;border-top-right-radius:10px;border-top-left-radius: 10px">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="margin-top: -13px;
          margin-bottom: 12px;">Adjust Stock</h4>
        </div>
        <div class="modal-body" style="width: 100% ;min-height: 150px;">
          <form (ngSubmit)="getallsaitems(name.value,whId.value)">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input #name type="text" class="form-control"  id={{searchresultid}} (keyup)="auto($event)" value="{{searchresult}}">
                    <div *ngIf="searchvalue" class="autosearch" style="background-color:lightgray">
                    <ng-container  *ngFor="let result of filterdresult"  >
                      <label role="button" *ngIf="searchvalue"  (click)="searchevent($event)" attr.id="{{result.id}}">{{result.name}}</label>
                      <br/>
                    </ng-container>
                  </div>
                  </div>
                  <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-raised  btn-success" (click)="toggle3()">Search</button>
                    <button type="reset" class="btn btn-raised btn-dark" (click)="toggle2()">Reset</button>
                  </div>
                </div>
          </form>
          <div *ngIf="show3" class="container selecteditem" style="margin-left: -18px; margin-top:100px;position:relative; height: 300px;
          overflow-y: auto;width:55% 
          ">
            <h4>Searched Result</h4>
            
            <table class="table-bordered table"  style="width:100%;">
              <thead>
                <tr>
                  <th><input type="checkbox" [(checked)]="allchecked" name="heading" (click)="checkbox($event)"/></th> 
                  <th>Name</th>
                  <th>Mrp</th>
                  <th>TransForm</th>
                  <th>Stock</th>
                  <th>TransTo</th>
                  <th>Qty</th>
                  <th>Exp Date&nbsp;(₹)</th>
                </tr>
              </thead>
              <tbody *ngIf="searchresponse.length==0 &&!searchresponse"><tr><td colspan="8" style="text-align:center">No Record Found....</td></tr></tbody>

              <tbody *ngIf="searchresponse.length!=0">
                <tr *ngFor="let searchitems of searchresponse" let i = index>
                  <td><input type="checkbox" #searchcheck [(checked)]="singlecheck"  (click)="singlecheckbox($event,searchitems.id,'search')"/></td>
                  <td>{{searchitems.name}}</td>
                  <td>{{searchitems.price}}</td>
                  <td> <select #transfromval name="transfrom" (change)="transfrom($event,searchitems.name)">
                    <option value="" disabled selected>Select Stock</option>
                    <option value="GoodStock">GoodStock</option>
                    <option value="Damaged">Damaged</option>
                    <option value="nearToExpire">nearToExpire</option>
                    <option value="Expired">Expired</option>
                     </select> </td>
                   <td #stock>{{searchitems.showchange|number}}</td>
                  <td> <select #transtoval name="transto" (change)=transto($event,searchitems.name)>
                      <option value="" disabled selected>Select Stock</option>
                      <option value="GoodStock">GoodStock</option>
                      <option value="Damaged">Damaged</option>
                      <option value="nearToExpire">nearToExpire</option>
                      <option value="Expired">Expired</option>
                       </select> </td>
                  <td><input type="number"  min="1" oninput="validity.valid||(value='')" style="width:40px;" name="searchitems.quantity" [(ngModel)]="searchitems.quantity" (keyup)=qtycheck($event,stock)></td>
                  <td><input type="date" name="dateselect" disabled="{{searchitems.showdate}}" [(ngModel)]="searchitems.expiryDate" [value]="expireddate" (change)="dateselection($event,searchitems.name)"></td>
                  <!-- <td><button class="btn-raised" style="background-color: #95cf22" #checkitem value="{{searchitems.id}}" (click)="singlecheck($event)">Add</button></td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="show3">
          <button class="btn btn-raised btn-success"  style=" position: fixed;
          left: 688px;
          top: 250px;" (click)="goselect()">>></button>
          </div>
         
          <div *ngIf="showselected" class="container selecteditem"  style=" position: absolute;
          top: 128px;
          left: 754px; height: 300px;
          overflow-y: auto;
          ">
            <h4>Selected Items</h4>
            
            <table class="table-bordered table" style="width:37%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>TransForm</th>
                  <th>TransTo</th>
                  <th>Qty&nbsp;(₹)</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let searchitems of selectedfinallist">
                 
                  <td>{{searchitems.name}}</td>
                  <td>{{transfromvalue}}</td>
                  <td>{{transtovalue}}</td>
                  <td><input type="text" style="width:40px;" [disabled]=true name="searchitems.quantity" [(ngModel)]="searchitems.quantity" ></td> 
                  <td><a  role  ="button"  (click)="removeselectedfinal(searchitems.id)"><i class="fa fa-trash" style="color: red" aria-hidden="true"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="modal-footer">
         
          <button type="button" class="btn btn-raised btn-success"(click)="stockfinal($event)">submit</button>
          <button type="button" class="btn btn-raised btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
    <div class="row">
      
         <ul class="footer">
           <li class="pull-left">Copyright &copy; 2018 Limitless Mobility Solutitons Pvt Ltd. All rights reserved.</li>
           <li class="pull-right">Powered by
             <a href="http://zoneonedigital.com/" target="_blank">Zone One Digital</a>
           </li>
         </ul>
       
       
     </div>
 </div>


    <!-- modal for PO -->

 









