<div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="h3 m-0">Purchase Order</h1>
      <small class="text-muted breadcrumb"><a  routerLink="/Warehouse">Warehouse</a> »Inbound » <a  routerLink="/PurchaseOrder">Purchase Order</a> »View Purchase Order</small>
    </div>
  </div>
  
  <div class="card" style="min-height:75%;margin-top:1%;float:right;margin-right:40px;width:96%;position: absolute;">
    <h4 class="card-title" style="color: green;padding:1%">View Purchase Order</h4>
    <!-- <label style=
    "color:black;
    position: absolute;
    top: 52px;
    right:22px;font-weight:normal">(<span style="color:red">*</span>)indicates mandatory fields</label> -->
    <form #creatpoform="ngForm">
      <div class="form-row">
        <div class="form-group  col-md-8">
              <label class="labelS" for="PoDate">PO Code</label>&nbsp;:&nbsp;{{podata.code}} 
        </div>
        <div class="form-group col-md-4">
            <label class="labelSS" for="PoDate">PO Date</label>&nbsp;:&nbsp;{{podata.date | date:'dd MMM, yyyy'}} 
        </div>
      </div>
        <div class="form-row">
        <div class="form-group col-md-8">
            <label class="labelS" for="PoDate">PO Expiry Date</label>&nbsp;:&nbsp;{{poexpiryDate | date:'dd MMM, yyyy'}}
          <!-- <input type="date" [attr.disabled]="released ? 'disabled' : null" [ngModel]="poexpiryDate|date:'yyyy-MM-dd'" (ngModelChange)="poexpiryDate = $event" class="form-control"  min="{{today}}" name="poexpiryDate"  id="po1expiredate"> -->
            <!-- <input type="date"  [ngModel] ="expiryDate|date:'dd/MM/yyyy'" (ngModelChange)="expiryDate = $event"   min="{{today}}"> -->
        </div>
        <div class="form-group col-md-4">
            <label class="labelSS" for="PoDate">Warehouse</label>&nbsp;:&nbsp;{{podata.warehouseName}}
          <!-- <input type="text" disabled value="{{podata.warehouseName}}"  class="form-control" value="" id="warehouse"> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
            <label class="labelS" for="PoDate">Vendor Name</label>&nbsp;:&nbsp;{{podata.vendorName}}
          <!-- <input type="text" disabled class="form-control" value="{{podata.vendorName}}" id="Vendor"> -->
        </div>
        <div class="form-group col-md-4">
            <label class="labelSS" for="PoDate">Quantity</label>&nbsp;:&nbsp;{{podata.quantity}}
          <!-- <input type="text" disabled class="form-control" value="{{podata.quantity}}" id="wholeqty"> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
            <label class="labelS" for="PoDate">Status</label>&nbsp;:&nbsp;{{podata.status==1?'Open':podata.status==3?'Closed':'Cancelled'}}
          <!-- <input type="text" disabled class="form-control" value="{{podata.status==1?'Open':podata.status==3?'Closed':'Cancelled'}}" id="status"> -->
      </div>
      <div *ngIf="cancelled" class="form-group col-md-4">
          <label class="labelSS" for="PoDate">Cancelled By</label>&nbsp;:&nbsp;{{podata.cancelledBy}}
        <!-- <input type="text" disabled class="form-control" value="{{podata.quantity}}" id="wholeqty"> -->
      </div>
      </div>
      <div class="form-row">
          <div  *ngIf="cancelled" class="form-group col-md-8">
              <label class="labelS" for="PoDate">Cancelled On</label>&nbsp;:&nbsp;{{podata.cancelledOn|date :'dd MMM, yyyy'}}
            <!-- <input type="text" disabled class="form-control" value="{{podata.status==1?'Open':podata.status==3?'Closed':'Cancelled'}}" id="status"> -->
        </div>
        
        </div>
    </form>
    <div class="container selecteditem" style="margin-top:200px;">
        <h4>Items</h4>
        <div style="position: relative;;height: 200px; width:97%; overflow-y: auto;overflow-x: hidden">
        <table class="table-bordered table" style="width:100%;">
          <thead>
            <tr>
              <th>HSN</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>MRP</th>
              <th>Base</th>
              <th>Unit Price</th>
              <th>Margin</th>
              <th>Tax</th>
              <th>Landing</th>
              <!-- <th>Avl_Qty</th> -->
              <th>Exp-Data</th>
              <th>Amt &nbsp;(₹)</th>
              <th *ngIf="!released">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of previtem;let i=index">
              <td #finalname>{{items.hsnCode}}</td>
              <td #finalname  id="{{items.id}}">{{items.itemName}}</td>
              <td  #finalprice> {{items.quantity}}</td>
              <td #finalbaseprice>{{items.mrp|number:'1.0-2'|nocommanumber}}</td>
              <td #finalbaseprice>{{items.basePrice|number:'1.0-2'|nocommanumber}}</td>
              <td #finalbaseprice>{{items.unitPrice|number:'1.0-2'|nocommanumber}}</td>
              <td #finalstock>{{items.margin|number:'1.0-2'|nocommanumber}}</td>
              <td #finaluom>{{items.taxPercentage}}</td>
              <td #finalconv>{{items.landingPrice}}</td>
              <!-- <td #finalqty>{{items.availableQuantity}}</td> -->
              <td>{{items.itemExpiryDate|date:'dd/MM/yyyy'}}</td>
              <!-- <td>
                <input [attr.disabled]="released ? 'disabled' : null" type="date" style="width:130px;"  [ngModel] ="items.itemExpiryDate | date: 'yyyy-MM-dd'" (ngModelChange)="items.itemExpiryDate = $event" #itemExpiryDate="ngModel"  min="{{today}}">
              </td> -->
              <td #finalamount id="{{'pop'+i}}">{{((items.basePrice)*(items.quantity)*(items.conversion))|number:'1.0-2'|nocommanumber}}</td>
              <td *ngIf="!released"><a  (click)="notremove()"><i class="fa fa-trash" style="color: red" aria-hidden="true"></i></a></td>
            </tr>
            <tr *ngFor="let items of addeditem2 ; let i=index">
                <td #finalname>{{items.hsnCode}}</td>
                <td #finalname  id="{{items.id}}">{{items.itemName}}</td>
                <td #finalprice>{{items.quantity}}</td>
                <td #finalbaseprice>{{items.mrp|number:'1.0-2'|nocommanumber}}</td>
                <td #finalbaseprice>{{items.basePrice|number:'1.0-2'|nocommanumber}}</td>
                <td #finalbaseprice>{{items.unitPrice|number:'1.0-2'|nocommanumber}}</td>
                <td #finalstock>{{items.margin|number:'1.0-2'|nocommanumber}}</td>
                <td #finaluom>{{items.taxPercentage}}</td>
                <td #finalconv>{{items.landingPrice}}</td>
                <!-- <td #finalqty>{{items.stock}}</td> -->
                <td>{{items.itemExpiryDate|date:'dd/MM/yyyy'}} </td>
                <!-- <td>
                  <input type="date" [attr.disabled]="released ? 'disabled' : null" style="width:130px;"  [ngModel] ="items.itemExpiryDate | date:'yyyy-MM-dd'" (ngModelChange)="items.itemExpiryDate = $event" #itemExpiryDate="ngModel"  min="{{today}}">
                </td> -->
                <td  id="{{'pon'+i}}">{{((items.basePrice)*(items.quantity)*(items.conversion))|number:'1.0-2'|nocommanumber}}</td>
                <td *ngIf="!released"><a (click)="removeitem(items.purchaseOrderDetailId)"><i class="fa fa-trash" style="color: red" aria-hidden="true"></i></a></td>
              </tr>
          </tbody>
        </table>
      </div>
      <div>
          <label class="labelSS" style="width:10% !important;margin-left: 74%;" for="PoDate">Total Amount</label>&nbsp;:&nbsp;{{podata.netAmount|number:'1.0-2'|nocommanumber}}
      </div>
        <button *ngIf="!released" class="btn btn-raised btn-success" (click)="submitPO()" data-toggle="tooltip" title="create po">Save</button>
        <button class="btn btn-raised btn-dark" (click)="back()">Back</button>
    </div>
    <ul class="footer" style="position:fixed; margin-top: 2%">
      <li class="pull-left">Copyright &copy; 2018 Limitless Mobility Solutitons Pvt Ltd. All rights reserved.</li>
      <li class="pull-right" style=" margin-left: 566px;">Powered by <a href="http://zoneonedigital.com/" target="_blank">Zone One Digital</a></li>
    </ul>
   <!-- modallll for NAME -->
  <div *ngIf="ismodal"  id="myModal" class="modal fade " style="position: fixed;
   top: -4;
   right: 0;
   bottom: 0;
   left: -7%;
   width: 1300px;
  " role="dialog">
      <div class="modal-dialog modal-lg" style=" border-radius: 10px">
    
        <!-- Modal content-->
        <div class="modal-content" style="width: 1100px">
          <div class="modal-header" style="background-color: #f3903f;border-top-right-radius:10px;border-top-left-radius: 10px">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="    margin-top: -13px;
            margin-bottom: 12px;">Add Product</h4>
          </div>
          <div class="modal-body" style="width: 100% ;min-height: 150px">
            <form (ngSubmit)="posearchlist('',name.value )">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="name">Name</label>
                      <input #name type="text" class="form-control"  id={{searchresultid}} (keyup)="auto($event)" value="{{searchresult}}">
                      <div *ngIf="searchvalue" class="autosearch" style="background-color:whitesmoke;position:absolute;z-index: 100;">
                      <ng-container  *ngFor="let result of filterdresult"  >
                        <label role="button" *ngIf="searchvalue"  (click)="searchevent($event)" attr.id="{{result.id}}">{{result.name}}</label>
                        <br/>
                      </ng-container>
                    </div>
                    </div>
                    <div class="form-group col-md-6">
                      <button type="submit" class="btn btn-raised  btn-success" (click)="toggle3()">Search</button>
                      <button type="reset" class="btn btn-raised btn-dark" (click)="toggle2()">Reset</button>
                    </div>
                  </div>
            </form>
            <div *ngIf="show3" class="container selecteditem"  style="margin-left: -18px; margin-top:100px;position:relative; height: 300px;
            overflow-y: auto;width:55% 
            ">
              <h4>Searched Result</h4>
              
              <table class="table-bordered table" style="width:100%;">
                <thead>
                  <tr>
                    <th><input type="checkbox" [(checked)]="abbs" name="heading" (click)="checkbox($event)"/></th> 
                    <th>Name</th>
                    <th>Mrp</th>
                    <th>Unit Price</th>
                    <th>Base</th>
                    <th>Stock</th>
                    <th>Qty</th>
                    <th>Exp-Date</th>
                    <th>Amt&nbsp;(₹)</th>
                  </tr>
                </thead>
                <tbody *ngIf="nameresponse.length==0"><tr><td colspan="8" style="text-align:center">No Record Found....</td></tr></tbody>
  
                <tbody *ngIf="nameresponse.length!=0">
                  <tr *ngFor="let searchitems of nameresponse">
                    <td><input type="checkbox" [(checked)]="checkvalue" (click)="singlecheck($event,searchitems.id,'search',searchitems.quantity,searchitems.expiryDate)"/></td>
                    <td>{{searchitems.name}}</td>
                    <td>{{searchitems.price}}</td>
                    <td>{{searchitems.unitPrice}}</td>
                    <td>{{searchitems.basePrice|number:'1.0-2'|nocommanumber}}</td>
                    <td>{{searchitems.stock|number:'1.0-2'|nocommanumber}}</td>
                    <td><input type="number" min="1" oninput="validity.valid||(value='');" style="width:40px;" name="searchitems.quantity" [(ngModel)]="searchitems.quantity"  (keydown)="qtyvalidation($event)" ></td>
                    <td><input type="Date" min="{{today}}" style="width:100px" [(ngModel)]="searchitems.expiryDate" ></td>
                    <td>{{((searchitems.basePrice)*(searchitems.quantity)*(searchitems.conversion))|number|nocommanumber}}</td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="show3">
            <button class="btn btn-raised btn-success" style="position: fixed;
            left: 585px;
            top: 250px;" (click)="goselect($event)">>></button>
            </div>
  
            <div *ngIf="showselected" class="container selecteditem"style=" position: absolute;
            top: 128px;
            left: 650px; height: 300px;
            overflow-y: auto;
            ">
              <h4>Selected Items</h4>
              
              <table class="table-bordered table"  style="width:400px;">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Exp-Date</th>
                    <th>Qty</th>
                    <th>Amt&nbsp;(₹)</th>
                    <th>#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let searchitems of selectedfinallist">
                   
                    <td>{{searchitems.name}}</td>
                    <td>{{searchitems.expiryDate}}</td>
                    <td><input type="text" disabled style="width:40px;" name="searchitems.quantity" [(ngModel)]="searchitems.quantity" ></td> 
                    <td>{{((searchitems.basePrice)*(searchitems.quantity)*(searchitems.conversion))|number|nocommanumber}}</td>
                    <td><a (click)="removeitem2(searchitems.id)"><i class="fa fa-trash" style="color: red" aria-hidden="true"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-raised btn-success"(click)="bynamelist($event)">submit</button>
            <button type="button" class="btn btn-raised " style="background-color: #f3903f" data-dismiss="modal"(click)="closename()">Close</button>
          </div>
        </div>
    
      </div>
   </div>
  
      <!-- modal for PO swati take update-->
  
  <div *ngIf="ismodal2" id="myModal2" class="modal fade " style=" position: fixed;
      top: -4;
      right: 0;
      bottom: 0;
      left: -7%;
      width: 1300px;
     " role="dialog">
         <div class="modal-dialog modal-lg" style=" border-radius: 10px">
       
           <!-- Modal content-->
           <div class="modal-content" style="width: 1100px">
             <div class="modal-header" style="background-color: #f3903f;border-top-right-radius:10px;border-top-left-radius: 10px">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title" style="    margin-top: -13px;
               margin-bottom: 12px;">Add Product</h4>
             </div>
             <div class="modal-body">
                 <form (ngSubmit)="posearchlist(pono.value,'')">
                     <div class="form-row">
                       <div class="form-group col-md-6">
                         <label for="pono">Po No</label>
                         <select #pono class="form-control" id="pono">
                           <option value="" disabled selected>Select Po No</option>
                           <option *ngFor="let data of po" value="{{data.purchaseOrderId}}">{{data.code}}</option>
                         </select>
                       </div>
                       <div class="form-group col-md-6">
                         <button type="submit" class="btn btn-raised  btn-success"(click)="toggleshow2()">Search</button>
                         <button type="reset" class="btn btn-raised btn-dark">Reset</button>
                       </div>
                     </div>
                   </form>
  
                   <div *ngIf="show2" class="container selecteditem" style="margin-left: -18px; margin-top:100px;height: 300px;
                   overflow-y: auto;
                   ">
                     <table class="table-bordered table"  style="width:90%;">
                       <thead>
                         <tr>
                           <th></th>
                           <!-- <th><input type="checkbox" name="heading" /></th> -->
                           <th>Name</th>
                           <th>Mrp</th>
                           <th>Base</th>
                           <th>Stock</th>
                           <th>UOM</th>
                           <th>CNV</th>
                           <th>Qty</th>
                           <th>Exp-Date</th>
                           <th>Amount&nbsp;(₹)</th>
                         </tr>
                       </thead>
  
                      <tbody *ngIf="poselectitem.length==0"><tr><td colspan="9" style="text-align:center">No Record Found....</td></tr></tbody>
                       <tbody *ngIf="poselectitem.length!=0" >
                         <tr *ngFor="let searchitems of poselectitem">
                           <td><input type="checkbox" checked (click)="singlecheck($event,searchitems.id,'poselect',searchitems.quantity,searchitems.expiryDate)" /></td>
                           <td>{{searchitems.name}}</td>
                           <td>{{searchitems.price}}</td>
                           <td>{{searchitems.basePrice|number:'1.0-2'|nocommanumber}}</td>
                           <td>{{searchitems.stock|number:'1.0-2'|nocommanumber}}</td>
                           <td>{{searchitems.uom}}</td>
                           <td>{{searchitems.conversion}}</td>
                           <td><input type="number" min="1" oninput="validity.valid||(value='');" style="width:40px;" name="searchitems.quantity" [(ngModel)]="searchitems.quantity" (keydown)="qtyvalidation($event)"></td>
                           <td><input type="Date" min="{{today}}" style="width:100px" [(ngModel)]="searchitems.expiryDate" ></td>
                           <td>{{((searchitems.basePrice)*(searchitems.quantity)*(searchitems.conversion))|number|nocommanumber}}</td>
                           <!-- <td><button class="btn-raised" style="background-color: #95cf22">Add</button></td> -->
                         </tr>
                       </tbody>
                     </table>
                   </div>
               
             </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-raised btn-success"  (click)="byposelect($event)">submit</button>
               <button type="button" class="btn btn-raised" style="background-color: #f3903f" data-dismiss="modal"(click)="show2false()">Close</button>
             </div>
           </div>
       
         </div>
      </div>
  
  
